.carrousel {
  position: fixed;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  border: 1px solid rgba(68, 68, 68, 0.2666666667);
  transform: scale(0);
  transition: transform 0.5s;
  background-color: beige;
}

.carrousel--activer {
  transform: scale(1);
}